#giphy-images{
    margin: 10px;
    padding: 10px;
}

#giphy-button{
    padding: 50px;
    margin-bottom: 20px;
}

.artist-button{
    background-color: rgb(6, 102, 92);
    margin: 5px; 
    padding: 5px 12px;
    color: white;
    border-radius: 8px;
}

.giphs{
    margin: 5px;
    border: 20px;
    border-color: black;
    padding: 5px;
}

#submit{
    background-color: rgb(35, 35, 92);
}

#search{
    float: right;
    margin-left: 50px;
}
